{% extends 'layout.html.twig' %}

{% block title %}Create new category{% endblock %}

{% block content %}
    <main class="container-md">
        <h1>Create new category</h1>

        {{ include('category/_form.html.twig') }}
    </main>
{% endblock %}
