<form method="post" action="{{ path('app_cart_add', {'id': product.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('add' ~ product.id) }}">
    <button class="btn btn-primary">Add to cart</button>
</form>
