{% extends 'layout.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block content %}
    <main class="container-md">
        <h1>Edit Product</h1>

        {{ include('product/_form.html.twig', {'button_label': 'Update'}) }}

        {{ include('product/_delete_form.html.twig') }}
    </main>
{% endblock %}
